

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    width: 90%;
    margin: auto;
}



.newDogButton, .newCollectionButton, .newLabradorButton {
    border: none;
    font: inherit;
    font-size: 32px;
    padding: 15px 20px;
      outline: none;
    cursor: pointer;
    background-color: #2980b9;
    width: 90%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}
body > div > img {
    max-width: 200px;
    height: 200px;
    margin: auto;
}
.dogCollection img {
   
    max-width: 200px;
    height: 200px;
    margin: auto;

}